* {
    margin: 0;
    padding: 0px;
    box-sizing: border-box;

}

.tituloindex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.tituloDashboard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.contenedorUnico {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: auto;
    gap: 20px;
    margin: 50px 25%;
    padding: 2%;
    border: 5px black solid;
    justify-items: center;
    align-items: center;
}

.contenedorUnico .item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.contenedorUnico .card {
    width: 120px;
    text-align: center;
    padding: 10px;
    border: 2px solid black;
    border-radius: 5px;
}

.contenedorUnico .item.ultimo {
    grid-column: span 2;
}

.cardAsesores {
    display: grid;
    grid-template-columns: 1fr;

    grid-auto-rows: auto;
    gap: 20px;
    margin: 50px 25%;
    padding: 2%;
    border: 5px black solid;

}
.cardCreditos{
    font-size: px;
    display: grid;
    grid-auto-rows: auto;
    gap: 20px;
    border: 5px black solid;
    justify-items: center;
    align-items: center;
}