* {
    margin: 0;
    padding: 0px;
    box-sizing: border-box;
    
}
.tituloindex{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
}
.tituloDashboard{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
}
.contenedorUnico {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* dos columnas iguales */
    grid-auto-rows: auto;
    gap: 20px; /* espacio entre filas y columnas */
    margin: 50px 25%;
    padding: 2%;
    border: 5px black solid;
    justify-items: center; /* centra cada item horizontalmente */
    align-items: center;   /* centra verticalmente */
}

.contenedorUnico .item {
    display: flex;
    flex-direction: column; /* card arriba, botón abajo */
    align-items: center;
    gap: 10px;
}

.contenedorUnico .card {
    width: 120px;
    text-align: center;
    padding: 10px;
    border: 2px solid black;
    border-radius: 5px;
}
.contenedorUnico .item.ultimo {
    grid-column: span 2; /* ocupa las dos columnas */
}
